/*  
  Remove default styling to provide a more predictable and prefered base to
  work with
  from https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
*/
@mixin reset {
  // Box sizing
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Remove default margin
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  // Remove list styles
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  // Core root defaults
  html:focus-within {
    scroll-behavior: smooth;
  }

  // Core body defaults
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  // Links
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  // Images
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  // Inputs
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  // Reduced motion
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
